.mainnet-container {
  padding: 50px 0;
  text-align: center;
}


.mainnet-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;

  padding: 0 0 50px;
}


.mainnet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.mainnet-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;
}


.mainnet-item {
  width: 300px;

  border: 1px solid white;
  border-radius: 5px;
}

.mainnet-logo {
  width: 60px;
  height: 60px;
}

.mainnet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px 10px 30px;
}


.mainnet-link {
  display: block;
  color: black;
  padding: 18px;
  background-color: rgb(185, 40, 40);
  border-end-end-radius: 5px;
  border-bottom-left-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mainnet-apr {
  display: inline-block;
  color: greenyellow;
  margin-bottom: 5px;
}

.mainnet-apy {
  color: yellow;
}

.mainnet-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.mainnet-apr,
.mainnet-apy {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mainnet-logo-circle {
  border-radius: 50%;
}

.mainnet-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 80px;
}

.mainnet-logo-special {
  width: 60px;
}
